.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: aliceblue;
    background-color: black;
    padding: 3rem 0;
    height: auto;
}

.redes{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}
.info{
    text-align: center;
}
.svgicon:hover{
    transform: scale(1.2);
}

