.header{
    position: relative;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.textpre{
    position: absolute;
    top: 30%;
    left: 5%;
    border-left: 2px solid;
    padding-left: 0.5rem;
}.h1{font-size: 40px;}.p{font-size: 20px;}

@media  screen and ( max-width:800px ){
    .h1{font-size: 25px;}
    .p{font-size: 18px;}
}