.page{
    position: relative;
    height: 100vh;
    background-color: white;
    padding-bottom: 4rem;
}

.apiwhatsapp{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
}


.btn{
    background-color: black;
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

